{% load static %}
<html>
    <head>
        <title>Django Girls blog</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    </head>
    <body style="background-color: #FFF">
        <nav class="navbar navbar-dark bg-primary">
            <div class="container-fluid">
                <a class="navbar-brand" href="{% url 'post_list_view' %}">
                    <img src="https://cdn0.iconfinder.com/data/icons/octicons/1024/mark-github-512.png" alt="" width="30" height="24" class="d-inline-block align-top">
                    Django Girls Blog
                </a>
                {% block header %}
                    
                {% endblock header %}
            </div>
        </nav>
        <br>

        <div class="container">
            <div class="row row-cols-2">
                {% block content %}

                {% endblock %}
            </div>
        </div>
    </body>
</html>