{% extends 'blog/base.html' %}
{% block header %}
    <a href="{% url 'post_new_view' %}" class="text-end" style="color: #FFF">
        <span class="material-icons">add_circle</span>
    </a>
{% endblock header %}
{% block content %}
    <h2>New post</h2>
    <div style="width: 100%;">
        <form method="POST" enctype="multipart/form-data" class="form-group">
            {% csrf_token %}
            <span>{{ form.non_field_errors }}</span>
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>
{% endblock content %}

{% block JS %}
    <script>
        document.getElementById("id_author").classList.add("form-control")
        document.getElementById("id_title").classList.add("form-control")
        document.getElementById("id_text").classList.add("form-control")
        document.getElementById("id_img").classList.add("form-control")
        document.getElementById("id_created_date").classList.add("form-control")
        document.getElementById("id_published_date").classList.add("form-control")
    </script>
{% endblock JS %}


