{% extends 'blog/base.html' %}
{% block header %}
    <a href="{% url 'post_new_view' %}" class="text-end" style="color: #FFF">
        <span class="material-icons">add_circle</span>
    </a>
{% endblock header %}
{% block content %}
    {% for post in object_list %}
        <div class="container" style="display: inline;">
            {% if post.img %}
                <img src="{{MEDIA_URL}}{{post.img.url}}" class="card-img-top">
            {% endif %}
            <div class="card-body">
                <h5 class="card-title">{{post.title}}</h5>
                <p class="card-text">{{ post.text }}</p>
                <strong>{{ post.published_date }}</strong>
                <br>
                <br>
                <a href="{% url 'post_detail_view' post.pk %}" class="btn btn-primary">Detail</a>
            </div>
        </div>
    {% endfor %}

    <div style="width: 100%;">
        <ul class="pagination justify-content-center">

            {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{page_obj.previous_page_number}}">&laquo; Previous</a>
                </li>
            {% endif %}
             
            {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{page_obj.next_page_number}}">Next &raquo;</a>
                </li>
            {% endif %}  
        </ul>
        <span style="color: #0d6efd;" class="pagination justify-content-center">Page {{page_obj.number}} of {{page_obj.paginator.num_pages}}</span>
    </div>
{% endblock %}

