{% extends 'blog/base.html' %}
{% block header %}
    <div class="text-end">
        <a href="{% url 'post_new_view' %}" style="color: #FFF; text-decoration: none; padding: 20px;">
            <span class="material-icons">add_circle</span>
        </a>
        <a href="{% url 'post_update_view' post.pk %}" style="color: #FFF; text-decoration: none; padding: 20px;">
            <span class="material-icons">create</span>
        </a>
        <a href="{% url 'post_delete_view' post.pk %}" style="color: #FFF; padding: 20px;">
            <span class="material-icons">delete</span>
        </a>
    </div>
{% endblock header %}
{% block content %}
    <h2>Update post</h2>
    <form method="POST" style="width: 100%;" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Save</button>
    </form>
{% endblock content %}

{% block JS %}
    <script>
        document.getElementById("id_author").classList.add("form-control")
        document.getElementById("id_title").classList.add("form-control")
        document.getElementById("id_text").classList.add("form-control")
        document.getElementById("id_img").classList.add("form-control")
        document.getElementById("id_created_date").classList.add("form-control")
        document.getElementById("id_published_date").classList.add("form-control")
    </script>
{% endblock JS %}